body{
    font-family: 'Poppins', sans-serif;
    background-color: #020c1b;
    margin: 10px 150px;
}
.name{
    color: #ccd6f6;
    font-size: 62px;
    font-weight: 900;
}
#software{
    color: #8892b0;
    margin-bottom: 4%;
}
p{
    color: #8892b0;
}
.link-button{
    text-decoration: none;
    color: #64ffda;
    border: 2px solid #64ffda;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10%;
}
.about-me{
    color: #ccd6f6;
    font-size: 30px;
}
ol{
    color: #64ffda;
    font-size: 30px;
}
.flexible-container{
    display: flex;
    margin-top: 15%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 55%;
    margin-top: 20%;
    margin-left: 15%;
    border: 3px solid #64ffda;
    border-radius: 20px;
}